body {
    background-color:#d0d0d0;
}

#header {
    background-color: #ededed;
    border-radius:10px;
    font-family: sans-serif;
    border: 2px solid black;
}

#wrap {
    user-select: none;
    width: 600px;
    margin: auto;
    text-align: center;
}

#colorSelection {
    height: 25px;
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
}

.color {
    display: inline-block;
    box-sizing: border-box;
    height: 22px;
    width: 22px;
    border-radius: 10px;
}

#functionArea {
    margin-bottom:10px;
}

#pixelArea {
    width: 500px;
    height: 500px;
    margin: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.pixel {
    background-color: rgb(0, 0, 0);
    display: inline-block;
    width: 20px;
    height: 20px;
    
}